:root {
    --theme-color-main: #206EF8;
    --content-color-1: #00C299;
    --content-color-2: #FF6442;
		--content-color-3: #C243A1;
		--content-color-font: #2A2E34;
		--content-color-font-2: #6B7280;
		--content-color-additional: #A4B3D4;
		--content-color-background-1: #F2F6FE;
		--content-color-background-2: #EEFFFC;
		--content-color-background-3: #FEEEED;
		--content-color-background-4: #FFECFA;
}